.header_link_active {
    color: #ccc;
    text-decoration: none;
}
.header_link_active:hover {
    color: #fff
}

.main_item_active:hover {
    background: #f5f5f5;
}

.main_link_active:hover {
    text-decoration: underline;
}

/** 分页hover **/
.pagination_active:hover {
    background-color: #f5f5f5
}

/** tab active **/

.tab_normal {
    margin: 0 10px 0 10px;
    color: #80bd01;
    cursor: pointer;
}
.tab_normal_hover:hover{
    color: #005580
}

.tab_active {
    color: #fff;
    background-color: #80bd01;
    padding: 3px 4px;
    border-radius: 3px;
}
